<nav class="navbar navbar-light" style="background-color: cornflowerblue;">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1" style="color: cornsilk;">CricLife Fantasy League</span>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <button class="btn btn" style="background-color: whitesmoke;margin-right: 10px;" [routerLink]="['/play-games']">Play Games</button>
        <button class="btn btn" style="background-color: whitesmoke;" [routerLink]="['/match-schedule']">Schedule</button>
      </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>
